body{
  padding: 0; 
  margin: 0; 
  font-family: 'Karla', sans-serif;
}

.page-container {
  display: flex; 
  flex-direction: column;
}

/*HEADER*/
.page-header {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  background-color: #1d1d1d;
  color: white;
}
.page-header a {
  text-decoration: none;
  color: white; 
}
.header-title {
  margin: 0; 
}
/*HEADER END*/

/*MAIN CONTENT*/
.posts-list {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.post-display{
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 4em;
  width: 30vw;
  color: black;   
  text-decoration: none;  
  transition-property: width; 
  transition-duration: 0.1s; 
  margin-bottom: 1px; 
}
.post-display:hover{
  width: 20vw;  
  border-bottom: 1px solid black; 
  margin-bottom: 0px; 
}
/*MAIN END*/

/*POST*/
.post-container {
  display: flex; 
  flex-direction: column;
  padding-top: 5em; 
  padding-left: 20%; 
  padding-right: 20%;
  justify-content: center;
}
/*END POST*/