body{
  padding: 0; 
  margin: 0; 
  font-family: 'Karla', sans-serif;
}

.page-container {
  display: flex; 
  flex-direction: column;
}

/*HEADER*/
.page-header {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  background-color: #1d1d1d;
  color: white;
}
.header-title {
  margin: 0; 
}
/*HEADER END*/